*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #dbdbdb;
    font-family: 'Courier New', Courier, monospace;
}

/* NAVIGATION BAR */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F0F5F6;
}

#navbar h1{
    padding: 20px;
    align-self: baseline;
    color: #0f0f0f;
}

#navbar a{
    text-decoration: none;
    color: #0f0f0f;
}

#navbar a:hover{
    color: #1B98E0;
}

#navbar li{
    display: inline;
    padding: 20px;
    font-size: large;
}

/* LANDING PAGE */