*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #dbdbdb;
    font-family: 'Courier New', Courier, monospace;
}

/* NAVIGATION BAR */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f6fafb;
}

#navbar h1{
    padding: 20px;
    align-self: baseline;
    color: #0f0f0f;
}

#navbar a{
    text-decoration: none;
    color: #0f0f0f;
}

#navbar a:hover{
    color: #1B98E0;
}

#navbar li{
    display: inline;
    padding: 20px;
    font-size: large;
}

/* LANDING PAGE */
.landing-page{
    margin: 30px;
}

.landing-page #about-section{
    background-color: #f6fafb;
    border-radius: 15px;
    padding: 30px;
    align-items: center;
    display: flex;
    height: 70vh;
}

.landing-page #about-section .left{
    width: 50%;
}

.landing-page #about-section .left img{
    display: none;
}

.landing-page #about-section .right{
    width: 50%;
    text-align: center;

}

.landing-page #about-section .right .hey{
    font-size: xx-large;
    word-spacing: 0.5em;
}

.landing-page #about-section .right p{
    font-size: 18px;
    word-spacing: 0.5em;
    padding: 20px;
}

.landing-page #about-section .right .contact-icons{
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.landing-page #about-section .right .contact-icons a{
    text-decoration: none;
    padding: 20px;
}